---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Container from "@components/Container.astro";
const testimonials = await getCollection('testimonials');
---

<section class="py-24">
	<Container class="grid lg:grid-cols-3 lg:gap-8">
		<div class="space-y-4 text-black mb-8 lg:mb-0">
			<h2 class="font-bold text-3xl capitalize opacity-90">Testimonials <span class="text-yellow-600">Client</span></h2>
			<p class="opacity-70 text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
		</div>

		<div class="lg:col-span-2 grid sm:grid-cols-2 gap-6">
		{ testimonials.map( t =>
			<div class="group hover:bg-black transition-all opacity-90 rounded border p-4 space-y-3 text-black">
				<p class="font-bold text-lg opacity-90 group-hover:text-white">{t.data.quotes}</p>
				<div class="flex items-center gap-3">
					<div class="w-16 h-16">
						<Image class="w-full h-full rounded-full object-cover" src={t.data.image} alt={t.data.name} />
					</div>
					<div class="group-hover:text-white">
						<p class="text-lg opacity-80">{t.data.name}</p>
						<p class="text-sm opacity-70">{t.data.work}</p>
					</div>
				</div>
			</div>
		)}
		</div>
	</Container>
</section>
